.Table{
	display: table;
}

.Heading{
	display: table-row;
	font-weight: bold;
	text-align: center;
}

.Row{
	display: table-row;
}

.Cell{
	display: table-cell;
	border: solid;
	border-width: thin;
	padding: 5px;
}

.title{
	text-align: center;
	font-size: 400%;
	color: red;
}

a{
	text-decoration: none;
	color: #000080;
}
html{
	background-color: gray;
	text-align: center;

}

.content{
	text-align:center;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left:-100px;

}

.links{
	border-style: double;
	position: relative;
	text-decoration: none;
	z-index: 10;
	height: 200px;
	width: 200px;
	vertical-align: middle;

}

a.redirect{
	color : #FF6600;
	display: block;
	display: inline-block;
	width:100%;
	height: 100%;
	text-align: center;
	top: 50%;
	
}

#text{
	margin: auto auto;
}

.upload{
	margin-top: 5%;


}

#recipe{
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
}

.delete{
	background-color: transparent;
	border: none;
	font-weight: bolder;
	

}

